/*基础样式开始*/

body {}


/*列表样式*/

ul,
li {
    list-style: none;
    margin: 0;
    margin: 0 .625rem/* 10px */
    0 0;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    margin: 0/* 0px */
}


/*基础样式结束*/


/*博客样式-zjl*/

header {
    width: 100%;
    height: 2rem/* 32px */
    margin: 0 auto .625rem/* 10px */
    ;
}

header p {
    font-size: 30px;
    color: #000;
    float: left;
    line-height: 2rem/* 32px */
    ;
}

.zjl-nav {
    line-height: 2rem/* 32px */
    ;
}

.nav-zjl {
    position: relative;
    height: 1.25rem/* 20px */
    ;
    line-height: 1.25rem/* 20px */
    ;
    overflow: hidden;
}

.nav-zjl>.item {
    color: #000;
    line-height: 1.25rem/* 20px */
    ;
    height: 1.25rem/* 20px */
    ;
    font-size: .5625rem/* 9px */
    ;
    text-align: center;
}

nav ul {
    text-align: right;
}

.zjl-nav-ul li {
    display: inline;
    color: #000;
    padding: .375rem/* 6px */
    0 .375rem/* 6px */
    0;
}

.zjl-nav-ul li a {
    margin: .3125rem/* 5px */
    .25rem/* 4px */
    .3125rem/* 5px */
    .25rem/* 4px */
    ;
}

.selected-li {
    border-bottom: #000 2px solid;
}


/*小屏幕时导航栏的样式*/


/*未展开时*/

#mnav {
    display: block;
    width: 100%;
    z-index: 9999;
    position: fixed;
}

.togger {
    /*width: 100%;*/
    text-align: right;
    margin: -right:.625rem/* 10px */
    ;
    height: 2rem/* 32px */
    ;
}

.navicons {
    display: inline-block;
    width: 1.875rem/* 30px */
    ;
    height: .3125rem/* 5px */
    ;
    background: #000;
    line-height: 2rem/* 32px */
    ;
    position: relative;
}

.navicons:before,
.navicons:after {
    width: 1.875rem/* 30px */
    ;
    height: .3125rem/* 5px */
    ;
    background: #000;
    display: block;
}

.navicons:before {
    margin-top: -10px;
}

.navicons:after {
    margin-top: 10px;
}

#mnav ul {
    text-align: center;
    background: rgba(1, 1, 1, 0.8);
    padding: .625rem/* 10px */
    0 .625rem/* 10px */
    0;
}

#mnav ul li {
    color: #fff;
    margin: .625rem/* 10px */
    0 .625rem/* 10px */
    0;
}

#mnav ul li a {
    color: #fff;
    margin: .625rem/* 10px */
    0 .625rem/* 10px */
    0;
}



/*展开后的导航栏*/

.open {
    background: rgba(1, 1, 1, 0.8);
}


/*媒体查询*/


/*大屏*/

@media screen and (min-width: 50rem
/* 800px */

) {
    #mnav {
        display: none;
    }
}


/*小屏幕*/

@media screen and (max-width: 50rem
/* 800px */

) {
    nav {
        display: none;
    }
    #mnav {
        display: block;
    }
}