/*基础样式开始*/

body {
    margin: 0;
    padding: 0;
}


/*列表样式*/
ul, li {
    list-style: none;
    margin: 0;
    margin: 0 .625rem/* 10px */
    0 0;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    margin: 0;
}

/*基础样式结束*/


/*博客样式-zjl*/
header {
    width: 100%;
    margin: 0;
}
header .logo{
    /*background: #aaa;*/
    font-size: 27px;
    float: left;
    margin-left:10px;
}

nav{
    /*background: #eee;*/
	margin-top: 10px;
    margin-bottom: 10px;
    line-height: 35px;
    overflow: hidden;
    /*clear: both;*/
}

.nav-zjl>.item {
    color: #000;
    line-height: 35px;
    text-align: center;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline;
    color: #000;
    padding-bottom: 5px;
    /*padding: 10px 10px;*/
}
nav a{
    font-size: 20px;
}

.selected-li {
    border-bottom: #000 2px solid;
}

/*小屏幕时导航栏的样式*/


/*未展开时*/

#mnav {
    display: block;
    width: 100%;
    z-index: 9999;
    position: fixed;
}

.togger {
    /*width: 100%;*/
    text-align: right;
    margin: -right:.625rem/* 10px */
    ;
    height: 2rem/* 32px */
    ;
    margin: 10px 10px 10px 0;
}

.navicons {
    display: inline-block;
    width: 1.875rem/* 30px */
    ;
    height: .3125rem/* 5px */
    ;
    background: #000;
    line-height: 2rem/* 32px */
    ;
    position: relative;
}

.navicons:before,
.navicons:after {
    width: 1.875rem/* 30px */
    ;
    height: .3125rem/* 5px */
    ;
    background: #000;
    display: block;
}

.navicons:before {
    margin-top: -10px;
}

.navicons:after {
    margin-top: 10px;
}

#mnav ul {
    text-align: center;
    background: rgba(1, 1, 1, 0.8);
    padding: .625rem/* 10px */
    0 .625rem/* 10px */
    0;
    margin: 0;
}

#mnav ul li {
    color: #fff;
    margin: .625rem/* 10px */
    0 .625rem/* 10px */
    0;
}

#mnav ul li a {
    color: #fff;
    margin: .625rem/* 10px */
    0 .625rem/* 10px */
    0;
}







/*展开后的导航栏*/

.open {
    background: rgba(1, 1, 1, 0.8);
}






/*媒体查询*/


/*大屏*/

@media screen and (min-width: 50rem
/* 800px */

) {
    #mnav {
        display: none;
    }
}






/*小屏幕*/

@media screen and (max-width: 50rem
/* 800px */

) {
    nav {
        display: none;
    }
    #mnav {
        display: block;
    }
}